# drivers/drivers/Kconfig
#
# SPDX-License-Identifier: Apache-2.0

config NYABULA_CUSTOM_DRIVERS
    bool "Nyabula Custom Drivers"
	default y
    select SPECIFIC_DRIVERS

if NYABULA_CUSTOM_DRIVERS

source "$BINDIR/drivers/platform/drivers/st77916/Kconfig"
source "$BINDIR/drivers/platform/drivers/pcf8563/Kconfig"
source "$BINDIR/drivers/platform/drivers/sv6621/Kconfig"
source "$BINDIR/drivers/platform/drivers/gt911/Kconfig"
source "$BINDIR/drivers/platform/drivers/ov5647/Kconfig"

endif
