# drivers/drivers/Kconfig
#
# SPDX-License-Identifier: Apache-2.0

config NYABULA_CUSTOM_DRIVERS
    bool "Nyabula Custom Drivers"
	default y
    select SPECIFIC_DRIVERS

if NYABULA_CUSTOM_DRIVERS

source "$BINDIR/drivers/platform/drivers/st77916/Kconfig"

endif
