# drivers/drivers/Kconfig
#
# SPDX-License-Identifier: Apache-2.0

config NYABULA_CUSTOM_DRIVERS
    bool "Nyabula Custom Drivers"
	default y
    select SPECIFIC_DRIVERS

if NYABULA_CUSTOM_DRIVERS

# RK806 PMIC regulator driver (kickpi-k7 / RK3576)
source "$BINDIR/drivers/platform/drivers/rk806/Kconfig"

endif
